@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 13px;
}


html{
  scroll-behavior: smooth;
}


::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #22C55E;
}

::selection {
  color: #ffffff;
  background: #22C55E;
}


.font-size-large{
  font-size: 20px;
}

.font-size-medium{
  font-size: 18px;
}
.font-size-low-mid{
  font-size: 15px;
}


.font-size-small{
  font-size: 13px;
}

.font-size-x-small{
  font-size: 12px;
}
.border-radius-10{
  border-radius: 10px;
}

.border-radius-transactions-card{
  border-radius: 5px;
}


.font-weight-medium{
font-weight: 500;
}

.font-color-777{
  color: #757575;
}

.font-color-c4{
  color: #C4C4C4;
}


.font-color-999{
  color: #999999;
}



// ====================Auth Screens ========================================
.authsidebar{

  width: 375px;
  height:100%; 
  position: fixed;
  top: 0;
  padding-top: 40px;
  z-index: 1;
  background-color: #FDFDFD;

}

.authsidebar{
  background-color: #ffffff;
}

.auth-info-box{
  margin-top: 95%;
}